{
    "semi": true,
    "singleQuote": true,
    "tabWidth": 4,
    "trailingComma": "none",
    "jsxSingleQuote": false,
    "jsxBracketSameLine": false,
    "arrowParens": "always",
    "maxLineLength": 150
}
